<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gpio" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>gpio</name>
    <description>gpio cordova plugin for AndroidThings</description>
    <author>Shinya Suefusa</author>
    <keywords>AndroidThings, raspberry pi 3</keywords>
    <license>MIT</license>
  	<engines>
    	<engine name="cordova-android" version=">6.0.0"/>
  	</engines>
    <js-module name="gpio" src="www/gpio.js">
        <clobbers target="cordova.plugins.gpio" />
    </js-module>
    <platform name="android">
    	<config-file target="res/xml/config.xml" parent="/*">
    		<feature name="gpio">
    			<param name="android-package" value="org.apache.cordova.things.GpioPlugin"/>
    		</feature>
    	</config-file>
    	<source-file src="src/android/GpioPlugin.java" target-dir="src/org/apache/cordova/things"/>
    	<framework src="com.google.android.things:androidthings:0.6-devpreview"/>
    </platform>
</plugin>
